<!DOCTYPE html>
<html lang="en" ng-app = 'App'>
<head>
    <meta charset="UTF-8">
    <title>AngularJS 数据绑定</title>
</head>
<body>
<div ng-controller="DemoController">
    <!--<ul>-->
        <!--<li ng-repeat="(key,star) in stars">{{star.name}} 今年{{star.age}}岁了</li>-->
    <!--</ul>-->

    <ul>
        <li ng-repeat="item in items" ng-switch on="item"><span ng-switch-when="css">{{item}}</span></li>
    </ul>

</div>


<script src="../../plugins/angular/1.3.8/angular-1.3.8.min.js"></script>
<script>
    var App = angular.module('App',[]);
    App.controller('DemoController', ['$scope', function($scope){

        // $scope.stars = [
        //     {name:'liudehua', age:60},
        //     {name:'zhoujielun',age:38},
        //     {name:'wanglihong',age:39}
        // ]

        $scope.items = ['html','css','js'];

    }])

</script>
</body>
</html>